html {
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(144, 184, 245);
}
.form-card {
    background-color: rgb(0, 132, 255);
    margin: 280px auto;
    justify-content: center;
    width: 600px;
    height: 270px;
    max-width: 500px;
    border-radius: 5px;
}

.title h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 10px;
    color: white;
}

.short-text p {
    text-align: center;
    font-size: 15px;
    color: white;
}

.email-input {
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    flex-direction: column;
    
}

input::placeholder {
    font-size: 15px;
    text-align: center;
    color: grey;
    opacity: 0.5;
}

input[type="email"] {
    width: 80%;
    height: 40px;
    border-radius: 4px;
    border: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: 0.2s ease-in-out;
}

button {
    margin: 30px auto;
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: rgb(17, 55, 90);
    color: white;
}